@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Syne:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  div-sizing: border-div;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #040C26;
}

.div {
  position: relative;
  width: 400px;
  height: 470px;
  background: #1c1c1c;
  border-radius: 18px;
  overflow: hidden;
}

.div::before {
  content: "";
  position: absolute;
  width: 4000px;
  height: 470px;
  top: -50%;
  left: -50%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.div::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 470px;
  top: -50%;
  left: -50%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

.borderLine {
  position: absolute;
  top: 0;
  inset: 0;
}

.borderLine::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 470px;
  top: -50%;
  left: -50%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.div form {
  position: absolute;
  inset: 4px;
  background: #6214b1;
  padding: 50px 40px;
  border-radius: 18px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.div form h2 {
  color: #fff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}

.div form .inputData {
  position: relative;
  width: 300px;
  margin-top: 35px;
}

.div form .inputData input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  border: none;
  div-shadow: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.div form .inputData span {
  position: absolute;
  left: 0;
  padding: 20px 0px 10px;
  pointer-events: none;
  color: #8f8f8f;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.div form .inputData input:valid ~ span,
.div form .inputData input:focus ~ span {
  color: #fff;
  font-size: 0.75em;
  transform: translateY(-34px);
}

.div form .inputData i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 7px;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
}

.div form .inputData input:valid ~ i,
.div form .inputData input:focus ~ i {
  height: 44px;
}

.div form .inputs {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.div form .inputs a {
  margin: 15px 12px 20px 0;
  font-size: 0.75em;
  color: #8f8f8f;
  text-decoration: none;
}

.div form .inputs a:hover,
.div form .inputs a:nth-child(2) {
  color: #fff;
}

.div form input[type="submit"] {
  border: none;
  outline: none;
  padding: 9px 25px;
  background: #fff;
  cursor: pointer;
  font-size: 0.9em;
  border-radius: 7px;
  font-weight: 600;
  width: 100px;
  margin-top: 10px;
  transition: 0.6s;
}

.div form input[type="submit"]:hover {
  background-color: #a131f7;
}

.div form input[type="submit"]:active {
  opacity: 0.8;
}
